

ul.social-network{
    list-style: none;
        padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa{
font-size: 35pt;
color:rgb(245, 245, 248);
padding: 10px;

}
.fa-github:hover{
    color: rgb(173, 46, 46);
}
.fa-instagram:hover{
   color: brown; 
}
.fa-linkedin-square:hover{
    color: rgb(177, 43, 43);
}
