<article class="container-fluid text-center">
    <section class="row">
        
        
        <section class="col-md-3 border border-primary">
         
         <h1>PERFIL:</h1>
         
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid animi aut corrupti libero mollitia tempora porro ipsa ad commodi, expedita illum nisi qui quasi. Voluptatem incidunt corporis fugit? Ipsa, a.
          </p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, earum. Aperiam totam earum, facilis dolorem ad odio cupiditate hic, veniam incidunt optio, reprehenderit quaerat sequi repellat error! Consequuntur, impedit quae.</p>
        </section>





        <section class="col-md-6">
           
       <h1>Feed:</h1>
        
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sed id nesciunt tempore accusantium hic consequuntur, corrupti inventore provident iure quae. Commodi facere ullam incidunt fugit corporis sit impedit illo!</p>
        
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sed id nesciunt tempore accusantium hic consequuntur, corrupti inventore provident iure quae. Commodi facere ullam incidunt fugit corporis sit impedit illo!</p>
        
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sed id nesciunt tempore accusantium hic consequuntur, corrupti inventore provident iure quae. Commodi facere ullam incidunt fugit corporis sit impedit illo!</p>
        
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sed id nesciunt tempore accusantium hic consequuntur, corrupti inventore provident iure quae. Commodi facere ullam incidunt fugit corporis sit impedit illo!</p>
       

        </section>

        <section class="col-md-3">
            
                    <app-menulateral></app-menulateral>
            
                </section>
    </section>
</article>