#img-bg{
    background-image: url('https://i.imgur.com/6dT8DOT.jpg'); 
    min-height: 54em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-cadastro{
background:linear-gradient(rgb(78, 218, 240), rgb(53, 142, 145), rgb(223, 30, 213)); 


}
