#img-bg{
    background-image: url('https://i.imgur.com/4fravs7.jpg'); 
    min-height: 54.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
.bg-color{
background:linear-gradient(rgb(222, 44, 183), rgb(254, 246, 21), rgb(53, 206, 212)); 


}