

<article class="container-fluid text-center">


    <h1 class="display-4  font-weight-bold text-center">Sobre Nos</h1>
    <section class="row">

        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/98328460?v=4" alt="">
           
            <h3>Bruno Diniz</h3>
            <a href="https://www.linkedin.com/in/bruno-diniz-782074184/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/dinizbpb"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>

        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/97360327?v=4" alt="">
           
            <h3>Jaquelane Oliveira</h3>
            <a href="https://www.linkedin.com/in/jaquelane-bessa-709978156/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/JaquelaneOBessa"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>

        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/89227491?v=4" alt="">
           
            <h3>William Marques</h3>
            <a href="https://www.linkedin.com/in/william-marques-6513a1181/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/kogmau"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>
    </section>

    <section class="row">
        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/51775914?v=4" alt="">
           
            <h3>Miguel Araujo</h3>
            <a href="https://www.linkedin.com/in/miguelaraujo98/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/mig1998"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>

        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/98328391?v=4" alt="">
           
            <h3>Diego Martins</h3>
            <a href="https://www.linkedin.com/in/eudiegow/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/EuDiegow"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>

        <section class="col-md-4">
       
            <img src="https://avatars.githubusercontent.com/u/98328512?v=4" alt="">
           
            <h3>Luana Assis</h3>
            <a href="https://www.linkedin.com/in/luanaassisi/"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            <a href="https://github.com/luanaassisi"><i class="ml-4 fa fa-github-square fa-5x" aria-hidden="true"></i></a>
        </section>

    </section>

  





</article>

