
<article class="container-fluid">
    <section class="row">
        <section class="col-md-8">IMAGEM</section>


        <form class="col-md-4" action="">

            <fieldset>
                <legend>Logar</legend>
                <label for="email">Email:</label>
                <input type="email" placeholder="Email" id="email" name="email">

                <label for="senha">senha:</label>
                <input type="text" placeholder="Senha" id="senha" name="senha">

                <button type="submit" class="btn btn-primary m-2">Cadastrar</button>
                <p class="text-center">
                    Nao tem uma conta? <a routerLink="/cadastrar">Crie uma Agora</a>
                </p>
            </fieldset>

        </form>


    </section>

</article>